h2{
    text-align: center;

}
button{
    background-color: rgb(11, 186, 11);
    width: 250px;
    padding: 4px;
    border: none;
}
input,select{
    margin-bottom:10px;
    padding: 3px;
    width: 80%;
    box-sizing: border-box;
}
label{
    font-weight: bold;
    margin-right: 120px;
    text-align: left;
    
}
a{
    color: blue;
}
div{
    text-align: center;
}
.Form-box{
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
    text-align: left;
}
User Type{
    width: 500px;
    padding: 1000px;
    border-radius:6px;
    border: 1px solid #888;
    font-size: 20px;
}
